--- !ruby/object:Batch
    batch_id: "validate_pipeline"
    ftp_url: ""
    flowcell: ""
    base_path: ""
    sample_list_path: "scripts/configuration/sample_list_all.csv"
    sequencer_name: "ILLUMINA"
    java_path: "/usr/share/java-1.8.0/jdk1.8.0_92/bin/java"
    rscript_path: "/usr/share/r/R-3.2.0/bin/Rscript"
    bwa_path: "/usr/share/bwa/bwa-0.7.15/bwa"
    picard_path: "/usr/share/picard/picard-tools-2.4.1"
    gatk_version: "3.6-0"
    gatk_path: "/usr/share/gatk/GenomeAnalysisTK-3.6.0/GenomeAnalysisTK.jar"
    freebayes_path: "/usr/share/freebayes/bin/freebayes"
    tmp_path: "/mnt/Data3/tmp"
    reference_path: "/mnt/Data1/resources/human_g1k_v37.fasta"
    known_path: "/mnt/Data1/resources/Mills_and_1000G_gold_standard.indels.b37.vcf"
    common_variants_nkmi_path: "/mnt/Data1/resources/common_no_known_medical_impact_20160302-edited.vcf"
    common_artefacts_path: "/mnt/Data1/resources/common_artefacts/V501_19052014_common_artefacts.vcf"
    dbsnp_path: "/mnt/Data1/resources/dbsnp_137.b37.vcf"
    alamut_path: "/mnt/Data3/alamut-batch-1.5.0/alamut-batch"
    ndm_snps_path: "/mnt/Data1/targeted_sequencing/intervals/general/6q24_SNPs.interval_list"
    type_one_snps_path: "/mnt/Data1/targeted_sequencing/intervals/general/type_one_SNPs.interval_list"
    phenotype_metric_line: 8
    overall_metric_line: 8
    duplicate_metric_line: 7
    hgmd_user: ""
    hgmd_pass: ""
    #hgmd_user: ""
    #hgmd_pass: ""
    panels:
    - !ruby/object:Panel
        panel_id: "v5"
        panel_version: "V5"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v5"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v5/v5_transcripts.yaml"
        unwanted_file_path: "../configuration/unwanted_variants.csv"
        wanted_file_path: "../configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "NDM"
          - "MODY"
          - "HI"
          - "NDM_MODY"
          - "ALL_V5"
    - !ruby/object:Panel
        panel_id: "v501"
        panel_version: "V501"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v501"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v501/v501_transcripts.yaml"
        unwanted_file_path: "scripts/configuration/unwanted_variants.csv"
        wanted_file_path: "scripts/configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "NDM"
          - "MODY"
          - "HI"
          - "NDM_MODY"
          - "AUTOIMMUNE"
          - "ALL_V501"
    - !ruby/object:Panel
        panel_id: "v6"
        panel_version: "V6"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v6"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v6/v6_transcripts.yaml"
        unwanted_file_path: "scripts/configuration/unwanted_variants.csv"
        wanted_file_path: "scripts/configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "ALAGILLE"
          - "CDP"
          - "CGL"
          - "CH"
          - "CPHD"
          - "EYE"
          - "FGD"
          - "FHH"
          - "FIH"
          - "FPL"
          - "FTC"
          - "GACI"
          - "GASTRO"
          - "HPE"
          - "HTX"
          - "HYPO-PTH"
          - "PHA"
          - "PHAEO-PGL"
          - "POREN"
          - "PPNAD"
          - "RICKETS"
          - "SCD"
          - "ALL_V6"
    - !ruby/object:Panel
        panel_id: "v601"
        panel_version: "V601"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v601"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v601/v601_transcripts.yaml"
        unwanted_file_path: "scripts/configuration/unwanted_variants.csv"
        wanted_file_path: "scripts/configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "ALAGILLE"
          - "CDP"
          - "CGL"
          - "CH"
          - "CPHD"
          - "EYE"
          - "FGD"
          - "FHH"
          - "FIH"
          - "FPL"
          - "FTC"
          - "GACI"
          - "GASTRO"
          - "HPE"
          - "HTX"
          - "HYPO-PTH"
          - "NEOPLASIA"
          - "PCH"
          - "PHA"
          - "PHAEO-PGL"
          - "POREN"
          - "PPNAD"
          - "RICKETS"
          - "SCD"
          - "ALL_V601"
    - !ruby/object:Panel
        panel_id: "v602"
        panel_version: "V602"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v602"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v602/v602_transcripts.yaml"
        unwanted_file_path: "scripts/configuration/unwanted_variants.csv"
        wanted_file_path: "scripts/configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "ALAGILLE"
          - "CDP"
          - "CGL"
          - "CH"
          - "CPHD"
          - "EYE"
          - "FGD"
          - "FHH"
          - "FIH"
          - "FPL"
          - "FTC"
          - "GACI"
          - "GASTRO"
          - "HPE"
          - "HTX"
          - "HYPO-PTH"
          - "NEOPLASIA"
          - "PCH"
          - "PHA"
          - "PHAEO-PGL"
          - "POREN"
          - "PPNAD"
          - "RICKETS"
          - "SCD"
          - "ALL_V602"
    - !ruby/object:Panel
        panel_id: "v603"
        panel_version: "V603"
        variants_directory: "variants/haplotyper"
        intervals_directory: "/mnt/Data1/targeted_sequencing/intervals/v603/grch-37"
        transcript_file_path: "/mnt/Data1/targeted_sequencing/intervals/v603/grch-37/v603_transcripts.yaml"
        unwanted_file_path: "scripts/configuration/unwanted_variants.csv"
        wanted_file_path: "scripts/configuration/wanted_regions.csv"
        coverage_cutoff: "30"
        allowed_genesets:
          - "ALAGILLE"
          - "AARSKOG"
          - "CARNEY"
          - "CDP"
          - "CGL"
          - "CH"
          - "CHILD"
          - "CPHD"
          - "DCM-LMNA"
          - "EYE"
          - "FEINGOLD"
          - "FGD"
          - "FHH"
          - "FIH"
          - "FPL"
          - "FTC"
          - "GACI"
          - "EXOSTOSIS"
          - "EYE"
          - "FEINGOLD"
          - "FGD"
          - "FHH"
          - "FIH"
          - "FPL"
          - "FTC"
          - "GACI"
          - "GASTRO"
          - "HIRSCHSPRUNG"
          - "HPE"
          - "HTX"
          - "HYPO-PTH"
          - "IGHD"
          - "KALLMAN"
          - "MFDM"
          - "MOBIUS"
          - "NEOPLASIA"
          - "PCH"
          - "PHA"
          - "PHAEO"
          - "POREN"
          - "PPNAD"
          - "RICKETS"
          - "SCD"
          - "THR"
          - "ALL_V603"
